<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello Ejs <%= name %></h1>
  <div>
    <%= Math.random()%>
     <% if (gender === "female") { %>
      <h2>welcome na man u be <%= 2+2 %></h2>
     <% }else{%>
       <h1>na other gender you be</h1>
       <a href="/signup">signup</a>
       <%} %>
     
     
  </div>
</body>
</html>