<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row row-gap-2">
      <div class="col-7 mx-auto shadow-sm text-center">
        <h1>Here is my Sign-In</h1>
        <form action="/student/signin" method="POST" class="row-gap-2">
          <input type="email" placeholder="Email" class="form-control my-1" name="email">
          <input type="text" placeholder="password" class="form-control my-1" name="password">
          <button class="btn btn-info form-control my-1" type="submit">Submit</button>
        </form>
      </div>
    </div>
   </div>
</body>
</html>