<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sign-up</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <h1>Here is my Sign-Up</h1>
  <form action="">
    <input type="text" placeholder="Firstname" class="form-control">
    <input type="text" placeholder="Lastname" class="form-control">
    <input type="email" placeholder="Email" class="form-control">
    <input type="password" placeholder="Password" class="form-control">
    <button type="submit">Submit</button>
  </form>
</body>
</html>